.row
	.col-md-5
		%span5#mediaType
			.row-fluid
				.col-md-2
					%input.filterBar#images{'type' => 'checkbox', 'name'=>'images', 'value'=>'images'}
						%label.filterBar#imagesChk{'for'=>'images'}
				.col-md-2
					%input.filterBar#illustration{'type' => 'checkbox', 'name'=>'illustration', 'value'=>'illustration'}
						%label.filterBar#illustrationChk{'for'=>'illustration'}
				.col-md-2
					%input.filterBar#video{'type' => 'checkbox', 'name'=>'video', 'value'=>'video'}
						%label.filterBar#videoChk{'for'=>'video'}
				.col-md-2
					%input.filterBar#audio{'type' => 'checkbox', 'name'=>'audio', 'value'=>'audio'}
						%label.filterBar#audioChk{'for'=>'audio'}
				.col-md-2
					%input.filterBar#animation{'type' => 'checkbox', 'name'=>'animation', 'value'=>'animation'}
						%label.filterBar#animationChk{'for'=>'animation'}
		.row
			.col-md-3
				%input.filterBar#portrait{'type' => 'checkbox', 'name'=>'portrait', 'value'=>'portrait'}
					%label.filterBar#portraitChk{'for'=>'portrait'}
			.col-md-3
				%input.filterBar#landscape{'type' => 'checkbox', 'name'=>'landscape', 'value'=>'landscape'}
					%label.filterBar#landscapeChk{'for'=>'landscape'}
			.col-md-3
				%input.filterBar#square{'type' => 'checkbox', 'name'=>'square', 'value'=>'square'}
					%label.filterBar#squareChk{'for'=>'square'}
			.col-md-3
				%input.filterBar#panorama{'type' => 'checkbox', 'name'=>'panorama', 'value'=>'panorama'}
					%label.filterBar#panoramaChk{'for'=>'panorama'}
		.row
			.col-md-3
				%input.filterBar#noP{'type' => 'checkbox', 'name'=>'noP', 'value'=>'noP'}
					%label.filterBar#noPChk{'for'=>'noP'}
			.col-md-3
				%input.filterBar#oneP{'type' => 'checkbox', 'name'=>'oneP', 'value'=>'oneP'}
					%label.filterBar#onePChk{'for'=>'oneP'}
			.col-md-3
				%input.filterBar#twoP{'type' => 'checkbox', 'name'=>'twoP', 'value'=>'twoP'}
					%label.filterBar#twoPChk{'for'=>'twoP'}
			.col-md-3
				%input.filterBar#grpP{'type' => 'checkbox', 'name'=>'grpP', 'value'=>'grpP'}
					%label.filterBar#grpPChk{'for'=>'grpP'}
	.col-md-5
		.row
			.col-md-3
				%input.filterBar#man{'type'=>'checkbox', 'name'=>'man', 'value'=>'man'}
					%label.filterBar#manChk{'for'=>'man'}
				%input.filterBar#dog{'type' => 'checkbox', 'name'=>'dog', 'value'=>'dog'}
					%label.filterBar#dogChk{'for'=>'dog'}
				%input.filterBar#free{'type' => 'checkbox', 'name'=>'free', 'value'=>'free'}
					%label.filterBar#freeChk{'for'=>'free'}
			.col-md-3
				%input.filterBar#woman{'type' => 'checkbox', 'name'=>'woman', 'value'=>'woman'}
					%label.filterBar#womanChk{'for'=>'woman'}
				%input.filterBar#cat{'type' => 'checkbox', 'name'=>'cat', 'value'=>'cat'}
					%label.filterBar#catChk{'for'=>'cat'}
				%input.filterBar#dollar{'type' => 'checkbox', 'name'=>'dollar', 'value'=>'dollar'}
					%label.filterBar#dollarChk{'for'=>'dollar'}
			.col-md-3
				%input.filterBar#child{'type' => 'checkbox', 'name'=>'child', 'value'=>'child'}
					%label.filterBar#childChk{'for'=>'child'}
				%input.filterBar#fit{'type' => 'checkbox', 'name'=>'fit', 'value'=>'fit'}
					%label.filterBar#fitChk{'for'=>'fit'}
				%input.filterBar#levIII{'type' => 'checkbox', 'name'=>'levIII', 'value'=>'levIII'}
					%label.filterBar#levIIIChk{'for'=>'levIII'}
			.col-md-3
				%input.filterBar#meals{'type' => 'checkbox', 'name'=>'meals', 'value'=>'meals'}
					%label.filterBar#mealsChk{'for'=>'meals'}
				%input.filterBar#special{'type' => 'checkbox', 'name'=>'special', 'value'=>'special'}
					%label.filterBar#specialChk{'for'=>'special'}
				%input.filterBar#levIV{'type' => 'checkbox', 'name'=>'levIV', 'value'=>'levIV'}
					%label.filterBar#levIVChk{'for'=>'levIV'}
	.col-md-2
		.row
			%input{'type' => 'checkbox', 'name'=>'pallette', 'value'=>'pallette', 'id'=>"palleteChk"}
				%label.filterBar{'for'=>'pallette'}
					Pallette
			.srchColorPicker
				%input{ 'type'=>'text' , :id => 'flat'}
		.row
			%button.btn.btn-primary{ :id => "filterSubmitBtn", :type => "submit"}
				Submit

-#:javascript
-#	$("#flat").spectrum({
-#	    flat: true,
-#	    showInput: true,
-#	    showButtons: false,
-#	    containerClassName: 'awesome'
-#	});

-#	$("#flatClearable").spectrum({
-#	    flat: true,
-#	    showInput: true,
-#	    allowEmpty:true,
-#	    containerClassName: 'awesome'
-#	});

:javascript
	$("#flat").spectrum({
		containerClassName: 'cPicker',
		showButtons: false,
		flat: true,
		showInput: true,
		appendTo: '.srchColorPicker',
		preferredFormat: "hex3"
	});

	$("#flatClearable").spectrum({
		flat: true,
		showInput: true,
		allowEmpty:true
	});

