/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/*
	system overrides for link
*/

body {
	// background-color: black;
	color: rgb(63,168,161);
	font-family: calibri;
	a {
		color: rgb(63,168,161);
	}
}

.headgrad {
	border: none;
	border-radius: 0px;
	background: red; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(black, rgb(63,168,161)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(black, rgb(63,168,161)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(black, rgb(63,168,161)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(black, rgb(63,168,161)); /* Standard syntax */
}

.maintheme {
	font-family: calibri;
	background-color: white;
	font-size: 2em;
}

.maintheme-link ul li a {
	color: rgb(63,168,161);	
}

.categoryColumn {
	margin: 3px;
}

#picGallery {
	margin: 3px;
	.picTile {
		padding: 3px;
		border-radius: 0px;
		background: white;
		img {
			width: 100%;
			max-width: 100%;
		}
	}
}

.tagline {
	font-size: 2em;
	margin-right: 2em;
	padding-top: 65px;
	color: purple;
}

.secondaryNav {
	width: 100%;
	height: 1em !important;	
	font-size: 2em;
	text-align: center;
	a {
		color: purple;
	}
}

.fuckhole {
	border:1px solid white;
	border-width:1px 0;
	list-style:none;
	height: 1em !important;	
	font-size: 2em;
	text-align: center;
	margin-bottom: 50px;
	a {
		color: purple;
		display:inline-block;
		padding:10px;
	}
	ul {
		list-style-type: none;
	}
	li {
		display: inline;
	}
}

// landing page styles

#srch-term {
	width: 40em;
}

.landingBtn {
	color: purple;
	background: rgb(63,168,161);
	width: 100%;
	padding: 0 3em;
	margin: 2px;
	text-align: center;
	a {
		color: purple;
		text-decoration: none;
	}
}

.landingLink {
	color: purple;
	a {
		color: purple;
		text-decoration: none;
	}	
}

.landingPad {
	padding-top: 50px;
}

.collectionsLink {
	a {
		text-decoration: none;
	}		
}

// #landingMosaic {
// #landingGallery {
#pictures {
	margin: 0 auto;
	width: 100%;
	.box {
		margin: 2px;
		width: 175px;
		padding: 0px;
		border-radius: 0px;
		background: white;
		img {
			width: 100%;
			max-width: 100%;
			// height: auto;
		}
	}
}

.landingTextColor {
	color: purple;
}

// center search form
.center {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	float: none;
}

// landing page search button box
.add-on .input-group-btn > .btn {
	border-left-width:0;left:-2px;
	-webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* stop the glowing blue shadow */
.add-on .form-control:focus {
	box-shadow:none;
	-webkit-box-shadow:none; 
	border-color:#cccccc; 
}

#srch_group{
	// width: 60%;
}

.lpageHeading {
	font-size: 1.5em;
	font-style: bold;
	color: purple;
	text-align: center;
	padding: 10px;
}

.imageFrame {
	padding: 5px;
	background-color: white;
	border: none;
}

.imageTileWrapper {
	width: 30%;
	margin: 0 2% 2% 0;
	float: left;
	border: 1px solid white;
	background-color: white;
}

.gallery .imageTile {
	height: 0;
	padding-bottom: 100%;
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
}

/*
	bootstrap overrides
*/

.navbar-button {
	color: white !important;
}

.navbar-default .navbar-nav {
	li {
		a {
			color: rgb(63,168,161);
			padding: 7px;
		}
	}
}

.navbar {
	height: 125px;
	background-color: white;
	color: rgb(63,168,161);
}

.featured {
	outline: solid 1px;
	padding: 5px;
	margin: 10px;
}

.featuredTile {
	width: 100%;
	height: 100%;
	padding: 10px;
	margin: 10px;
}

.navFoot {
	margin-top: 50px;
	border: none;
	background-color: rgb(63,168,161);
	color: white;
	a {
		color: white;
	}
	a:hover {
		color: purple;
	}
}

.copyright {
	padding-right: 50px;
}

.btn {
	// padding: 14px 24px;
	// border: 0 none;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0 none;
}
 
.btn-primary {
	background: rgb(63,168,161);
	a {
		color: white;
	}
}

.btn-primary.raised {
	// box-shadow: 0 3px 0 0 #007299;
	box-shadow: 0 3px 0 0 #ffffff;
}

// .btn-primary:hover, .btn-primary:focus, .open > .dropdown-toggle.btn-primary {
// 	background: #33a6cc;
// }

// .btn-primary.raised:active, .btn-primary.raised.active {
// 	background: #33a6cc;
// 	box-shadow: none;
// 	margin-bottom: -3px;
// 	margin-top: 3px;
// }

// .btn-primary:active, .btn-primary.active {
// 	background: #007299;
// 	box-shadow: none;
// }

.profilePagePadding {
	padding-left: 50px;
}

.user-avatar {
	float: left;
}

.user-profile {
	float: right;
}
