.cPicker {
	background: white !important;
	border: none !important;
	// width: 80%;
}

input[type=checkbox].filterBar  {
	display:none;
}
 
input[type=checkbox].filterBar + label.filterBar {
	// background-size: 50%;
	height: 75px;
	width: 75px;
	display:inline-block;
	padding: 0 0 0 0px;
}

input[type=checkbox]:checked.filterBar + label.filterBar  {
	// background-size: 50%;
	height: 75px;
	width: 75px;
	display:inline-block;
	padding: 0 0 0 0px;
}

input[type=checkbox].filterBar + label.filterBar#imagesChk {
	background: image-url("filterBar/images.png") no-repeat center;
}

input[type=checkbox].filterBar + label.filterBar#illustrationChk {
	background: image-url("filterBar/illustration.png") no-repeat center;
}

input[type=checkbox].filterBar + label.filterBar#videoChk {
	background: image-url("filterBar/video.png") no-repeat center;
}

input[type=checkbox].filterBar + label.filterBar#audioChk {
	background: image-url("filterBar/audio.png") no-repeat center;
}

input[type=checkbox].filterBar + label.filterBar#animationChk {
	background: image-url("filterBar/animation.png") no-repeat center;
}

input[type=checkbox].filterBar + label.filterBar#portraitChk {
	background: image-url("filterBar/portrait.jpg") no-repeat center;
}

input[type=checkbox].filterBar + label.filterBar#landscapeChk {
	background: image-url("filterBar/landscape.jpg") no-repeat center;
}

input[type=checkbox].filterBar + label.filterBar#squareChk {
	background: image-url("filterBar/square.jpg") no-repeat center;
}

input[type=checkbox].filterBar + label.filterBar#panoramaChk {
	background: image-url("filterBar/panorama.jpg") no-repeat center;
}

input[type=checkbox].filterBar + label.filterBar#noPChk {
	background: image-url("filterBar/NoPeople.png") no-repeat center;
}

input[type=checkbox].filterBar + label.filterBar#onePChk {
	background: image-url("filterBar/1person.png") no-repeat center;
}

input[type=checkbox].filterBar + label.filterBar#twoPChk {
	background: image-url("filterBar/2people.png") no-repeat center;
}

input[type=checkbox].filterBar + label.filterBar#grpPChk {
	background: image-url("filterBar/groupofpeople.png") no-repeat center;
}

input[type=checkbox].filterBar + label.filterBar#manChk {
	background: image-url("filterBar/man.png") no-repeat center;
}

input[type=checkbox].filterBar + label.filterBar#dogChk {
	background: image-url("filterBar/dog.png") no-repeat center;
}
			
input[type=checkbox].filterBar + label.filterBar#freeChk {
	background: image-url("filterBar/free.png") no-repeat center;
}

input[type=checkbox].filterBar + label.filterBar#womanChk {
	background: image-url("filterBar/woman.png") no-repeat center;
}

input[type=checkbox].filterBar + label.filterBar#catChk {
	background: image-iamge-url("filterBar/cat.png") no-repeat center;
}

input[type=checkbox].filterBar + label.filterBar#dollarChk {
	background: image-iamge-url("filterBar/level1.png") no-repeat center;
}

input[type=checkbox].filterBar + label.filterBar#childChk {
	background: image-iamge-url("filterBar/child.png") no-repeat center;
}

input[type=checkbox].filterBar + label.filterBar#fitChk {
	background: image-iamge-url("filterBar/workout.png") no-repeat center;
}

input[type=checkbox].filterBar + label.filterBar#levIIIChk {
	background: image-iamge-url("filterBar/level2.png") no-repeat center;
}

input[type=checkbox].filterBar + label.filterBar#specialChk {
	background: image-iamge-url("filterBar/july4th.png") no-repeat center;
}

input[type=checkbox].filterBar + label.filterBar#levIVChk {
	background: image-iamge-url("filterBar/level3.png") no-repeat center;
}

input[type=checkbox].filterBar + label.filterBar#mealsChk {
	background: image-iamge-url("filterBar/foodanddrink.png") no-repeat center;
}

// Will have to eventually change this to be an individual icon for 
// each picked choice.

input[type=checkbox]:checked.filterBar + label.filterBar#imagesChk {
	background: iamge-url("filterBar/s_images.png") no-repeat center;
}

input[type=checkbox]:checked.filterBar + label.filterBar#illustrationChk {
	background: iamge-url("filterBar/s_illustration.png") no-repeat center;
}

input[type=checkbox]:checked.filterBar + label.filterBar#videoChk {
	background: iamge-url("filterBar/s_video.png") no-repeat center;
}

input[type=checkbox]:checked.filterBar + label.filterBar#audioChk {
	background: iamge-url("filterBar/s_audio.png") no-repeat center;
}

input[type=checkbox]:checked.filterBar + label.filterBar#animationChk {
	background: iamge-url("filterBar/s_animation.png") no-repeat center;
}

input[type=checkbox]:checked.filterBar + label.filterBar#portraitChk {
	background: iamge-url("filterBar/s_portrait.png") no-repeat center;
}

input[type=checkbox]:checked.filterBar + label.filterBar#landscapeChk {
	background: iamge-url("filterBar/s_landscape.png") no-repeat center;
}

input[type=checkbox]:checked.filterBar + label.filterBar#squareChk {
	background: iamge-url("filterBar/s_square.png") no-repeat center;
}

input[type=checkbox]:checked.filterBar + label.filterBar#panoramaChk {
	background: iamge-url("filterBar/s_panorama.png") no-repeat center;
}

input[type=checkbox]:checked.filterBar + label.filterBar#noPChk {
	background: iamge-url("filterBar/s_NoPeople.png") no-repeat center;
}

input[type=checkbox]:checked.filterBar + label.filterBar#onePChk {
	background: image-url("filterBar/s_1person.png") no-repeat center;
}

input[type=checkbox]:checked.filterBar + label.filterBar#twoPChk {
	background: image-url("filterBar/s_2people.png") no-repeat center;
}

input[type=checkbox]:checked.filterBar + label.filterBar#grpPChk {
	background: image-url("filterBar/s_groupofpeople.png") no-repeat center;
}

input[type=checkbox]:checked.filterBar + label.filterBar#manChk {
	background: image-url("filterBar/s_man.png") no-repeat center;
}

input[type=checkbox]:checked.filterBar + label.filterBar#dogChk {
	background: image-url("filterBar/s_dog.png") no-repeat center;
}
			
input[type=checkbox]:checked.filterBar + label.filterBar#freeChk {
	background: image-url("filterBar/s_free.png") no-repeat center;
}

input[type=checkbox]:checked.filterBar + label.filterBar#womanChk {
	background: image-url("filterBar/s_woman.png") no-repeat center;
}

input[type=checkbox]:checked.filterBar + label.filterBar#catChk {
	background: image-url("filterBar/s_cat.png") no-repeat center;
}

input[type=checkbox]:checked.filterBar + label.filterBar#dollarChk {
	background: image-url("filterBar/s_level1.png") no-repeat center;
}

input[type=checkbox]:checked.filterBar + label.filterBar#childChk {
	background: image-url("filterBar/s_child.png") no-repeat center;
}

input[type=checkbox]:checked.filterBar + label.filterBar#fitChk {
	background: image-url("filterBar/s_workout.png") no-repeat center;
}

input[type=checkbox]:checked.filterBar + label.filterBar#levIIIChk {
	background: image-url("filterBar/s_level2.png") no-repeat center;
}

input[type=checkbox]:checked.filterBar + label.filterBar#specialChk {
	background: image-url("filterBar/s_july4th.png") no-repeat center;
}

input[type=checkbox]:checked.filterBar + label.filterBar#levIVChk {
	background: image-url("filterBar/s_level3.png") no-repeat center;
}

input[type=checkbox]:checked.filterBar + label.filterBar#mealsChk {
	background: image-url("filterBar/s_foodanddrink.png") no-repeat center;
}