// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.placeholderBlock {
  background-image: url("./sampleImage.jpg");
  background-position: center;
  width: 100%;
  height: 250px;
  max-width: 100%
}

.profileMenu {
  list-style-type: none;
  li {
    font-size: .75em;
  }
}

input[type=checkbox].profile  {
  display:none;
}

input[type=checkbox].profile + label.profile {
  // background-size: 50%;
  height: 75px;
  width: 75px;
  display:inline-block;
  padding: 0 0 0 0px;
}

input[type=checkbox]:checked.profile + label.profile  {
  // background-size: 50%;
  height: 75px;
  width: 75px;
  display:inline-block;
  padding: 0 0 0 0px;
}

input[type=checkbox].profile + label.profile#follow {
  background: image-url("follow.png") no-repeat center;
}

input[type=checkbox]:checked.profile + label.profile#follow {
  background: image-url("s_follow.png") no-repeat center;
}
